@media only screen and (max-width: 768px) {
  input {
    width: 100%;
    margin-right: 0;
  }

  label {
    text-align: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
}

label {
  display: block;
  margin-bottom: 1em;
  font-size: 1.2em;
}

input {
  width: 3em;
  font-size: 1.2em;
}

button {
  margin-top: 1em;
  font-size: 1.2em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  border-top: 1px solid black;
}

#wynik {
  text-align: center;
  margin-top: 2em;
  font-size: 1.2em;
}
